.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 3%;
    width: 100%;
    max-height: 70px;
}

.footer span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #000000;
}

.footer div {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 3%;
}

.footer div a {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.2rem;
    text-decoration-line: underline;
    color: #004762;
}



@media (max-width: 1024px) {
    .footer {
        flex-direction: column;
        gap: 5px;
        padding: 10px 3%;
    }

    .footer div {
        position: static;
        align-self: flex-end;
    }

    .footer div a {
        font-weight: 500;
        font-size: .75rem;
        line-height: .75rem;
    }
}


@media (max-width: 480px) {
    .footer span,
    .footer div a {
        word-wrap: break-word;
        text-align: center;
    }
}