/* @import url("https://fonts.cdnfonts.com/css/gotham"); */
* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: min(max(14px, calc(100vw * 0.023)), 16px);
    overflow-x: hidden;
}

body {
    background-color: white;
    overflow-x: hidden;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
}