<!-- Edit device description modal -->
<div class="modal fade" id="editDeviceDescription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px;" >
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" style="color: #004762;" id="staticBackdropLabel">Edit Device Description</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" width="30" height="31" viewBox="0 0 30 31" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_295_2457)">
                        <path
                            d="M15 2.99414C8.0875 2.99414 2.5 8.58164 2.5 15.4941C2.5 22.4066 8.0875 27.9941 15 27.9941C21.9125 27.9941 27.5 22.4066 27.5 15.4941C27.5 8.58164 21.9125 2.99414 15 2.99414ZM21.25 19.9816L19.4875 21.7441L15 17.2566L10.5125 21.7441L8.75 19.9816L13.2375 15.4941L8.75 11.0066L10.5125 9.24414L15 13.7316L19.4875 9.24414L21.25 11.0066L16.7625 15.4941L21.25 19.9816Z"
                            fill="#FB3B3B" />
                    </g>
                    <defs>
                        <clipPath id="clip0_295_2457">
                            <rect width="30" height="30" fill="white" transform="translate(0 0.494141)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="modal-body">
                <form action="" class="align-items-start">
                    {% csrf_token %}
                    <div class="mb-3 w-100">
                        <label for="name" class="col-form-label">Device Description:</label>
                        <input type="text" required class="form-control" name="description" />
                    </div>
                    <div class="w-100 d-flex justify-content-center gap-4">
                        <button type="button" id="closeEditNameModal" class="btn bg-white" style="color: #46879F; border: 1px solid #46879F;
                        border-radius: 40px; width: 100px;" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn text-white" style="background-color: #46879F; border: 1px solid #46879F;
                        border-radius: 40px; width: 100px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="editDeviceDescription" data-bs-toggle="modal" data-bs-target="#editDeviceDescription" />
<!-- <div class="modal-container edit-device-modal hidden">
    <div class="modal-content-container edit-device-container">
        <div>
            <h2 class="device-name">Device</h2>
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.1305 13.787L12.0253 10.2836L5.64975 3.58921L3.41829 5.93224L9.79388 12.6266L13.1305 13.787ZM0.462451 0.485573C0.315845 0.639368 0.199543 0.821992 0.120192 1.02301C0.0408424 1.22402 0 1.43949 0 1.65709C0 1.87469 0.0408424 2.09015 0.120192 2.29117C0.199543 2.49218 0.315845 2.67481 0.462451 2.8286L2.10472 4.55299L4.33618 2.20996L2.69391 0.485573C2.54744 0.331637 2.37351 0.20952 2.18206 0.126202C1.99062 0.0428845 1.78542 0 1.57818 0C1.37094 0 1.16574 0.0428845 0.974293 0.126202C0.78285 0.20952 0.608922 0.331637 0.462451 0.485573ZM18.6056 3.90699H9.81249L11.0529 5.2094H18.6056V19.5359H4.96133V11.6055L3.72095 10.3031V19.5359C3.72095 19.8813 3.85163 20.2126 4.08425 20.4568C4.31687 20.7011 4.63236 20.8383 4.96133 20.8383H18.6056C18.9346 20.8383 19.2501 20.7011 19.4827 20.4568C19.7153 20.2126 19.846 19.8813 19.846 19.5359V5.2094C19.846 4.86398 19.7153 4.53271 19.4827 4.28846C19.2501 4.04421 18.9346 3.90699 18.6056 3.90699Z"
                    fill="#46879F" />
            </svg>
        </div>
        <form action="" id="edit-device-info">
            <div class="edit-modal-description">
                <span>Device Name</span>
                <input type="text" name="Device Name" required class="edit-modal-device-text" />
                <span>Device Description</span>
                <textarea name="Device Description" class="edit-modal-text">
                </textarea>
            </div>
        </form>
        <div class="edit-modal-buttons">
            <button class="modal-submit-btn edit-cancel-btn">Cancel</button>
            <button class="modal-submit-btn" form="edit-device-info" value="submit">Save</button>
        </div>
    </div>
</div> -->