<!-- Edit Organisation Modal -->
<div class="modal fade" id="editOrganizationRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" style="color: #004762;" id="staticBackdropLabel">Edit Organization Role</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                <svg class="cursor-pointer" data-bs-dismiss="modal" aria-label="Close" width="30" height="31" viewBox="0 0 30 31" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_295_2457)">
                        <path
                            d="M15 2.99414C8.0875 2.99414 2.5 8.58164 2.5 15.4941C2.5 22.4066 8.0875 27.9941 15 27.9941C21.9125 27.9941 27.5 22.4066 27.5 15.4941C27.5 8.58164 21.9125 2.99414 15 2.99414ZM21.25 19.9816L19.4875 21.7441L15 17.2566L10.5125 21.7441L8.75 19.9816L13.2375 15.4941L8.75 11.0066L10.5125 9.24414L15 13.7316L19.4875 9.24414L21.25 11.0066L16.7625 15.4941L21.25 19.9816Z"
                            fill="#FB3B3B" />
                    </g>
                    <defs>
                        <clipPath id="clip0_295_2457">
                            <rect width="30" height="30" fill="white" transform="translate(0 0.494141)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="modal-body">
                <form action="" id="edit-organization-role-form" class="align-items-start">
                    {% csrf_token %}
                    <div class="mb-3 w-100">
                        <label for="role" class="col-form-label">Role:</label>
                        <select name="role" class="form-select" id="">
                            <option value="viewer">Viewer</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="w-100 d-flex justify-content-center gap-4">
                        <button type="button" class="btn bg-white" style="color: #46879F; border: 1px solid #46879F;
                        border-radius: 40px; width: 100px;" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" id="data-id" class="btn text-white" style="background-color: #46879F; border: 1px solid #46879F;
                        border-radius: 40px; width: 100px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="editOrganizationRole" data-bs-toggle="modal" data-bs-target="#editOrganizationRole" />