<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends './layouts/base.html' %}

    {% load static %}

    {% block links %}
    
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/home.css' %}">
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/product_feature.css' %}">
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/applications.css' %}">
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/contact_us.css' %}">


    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    {% endblock %}

    <title>{% block title %}VOQDR{% endblock %}</title>
</head>

<body>
    {% block body %}
    <header>
        <div class="main">
            <div class="main-heading">
                <h1>Time Tracking website</h1>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                </p>
            </div>
            <div class="main-image">
                <img src="{% static 'web/Assets/Images/HomeMainImage.svg' %}" alt="Home Main Image">
            </div>
        </div>

        <div class="group-buttons">
            <button type="button" class="buy-modal-open-button">Buy</button>
            <a href="#product-features"><button type="button" class="w-100">Learn More</button></a>
        </div>
    </header>

    <section class="product-features" id="product-features">
        <div class="feature-container">
            <h2>Product Features</h2>
            <div class="feature-card-container">
                {% if product_features %}
                {% for feature in product_features %}
                <div class="feature-card">
                    <img src="{{feature.image.url}}" class="feature-image" alt="Feature1">
                    <div class="feature-content">
                        <h3>{{feature.title}}</h3>
                        <p class="feature-description">{{feature.description}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
    </section>

    <section class="applications">
        <h2>Applications</h2>
        <div class="applications-container">
            {% if application_image %}
            {% for app_img in application_image%}
            <div class="applications-image">
                <img src="{{app_img.image.url}}" alt="Applications">
            </div>
            {% endfor %}
            {% endif %}
            <div class="applications-card-container">
                {% if applications %}
                {% for apps in applications%}
                <div class="applications-card">
                    <div class="app-card-heading">
                        {% if apps.image %}
                        <img src="{{apps.image.url}}" alt="Applications">
                        {% else %}
                        <img src="{% static 'web/Assets/Images/random.png' %}" alt="Applications">
                        {% endif %}
                        <h3>{{apps.title}}</h3>
                    </div>
                    <p class="app-card-description">{{apps.description}}</p>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="testimonials">
        <h2>Testimonials</h2>
        <div class="testimonial-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% if testimonials %}
                    {% for testimonial in testimonials%}
                    <div class="swiper-slide">
                        <div class="testimonial-card">
                            <h3>{{testimonial.title}}</h3>
                            <p class="client-criticism">"{{testimonial.description}}
                            </p>
                            <div class="client-info">
                                <div class="client-image">
                                    {% if testimonial.image %}
                                    <img src="{{testimonial.image.url}}" alt="Client Image">
                                    {% else %}
                                    <img src="{% static 'web/Assets/Images/random.png' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="client-details">
                                    <p class="client-name">{{testimonial.author|title}}</p>
                                    <span class="client-description">{{testimonial.designation}}</span>
                                </div>
                            </div>
                            <!-- <p class="date">{{testimonial.updated_at}}</p> -->
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <svg class="swiper-button-next swiper-navBtn" width="66" height="66" viewBox="0 0 66 66" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_285_1134)">
                        <path class="nav-path"
                            d="M34.8594 5.05664C18.0325 5.05664 4.39062 18.6985 4.39062 35.5254C4.39062 52.3523 18.0325 65.9941 34.8594 65.9941C51.6863 65.9941 65.3281 52.3523 65.3281 35.5254C65.3281 18.6985 51.6863 5.05664 34.8594 5.05664ZM44.4062 36.9676L31.2316 50.1423C30.8485 50.5123 30.3354 50.717 29.8028 50.7124C29.2702 50.7078 28.7607 50.4941 28.3841 50.1175C28.0075 49.7409 27.7939 49.2314 27.7893 48.6989C27.7846 48.1663 27.9894 47.6532 28.3594 47.2701L40.1041 35.5254L28.3594 23.7807C27.9894 23.3976 27.7846 22.8845 27.7893 22.3519C27.7939 21.8193 28.0075 21.3099 28.3841 20.9333C28.7607 20.5566 29.2702 20.343 29.8028 20.3384C30.3354 20.3338 30.8485 20.5385 31.2316 20.9085L44.4062 34.0832C44.596 34.2721 44.7461 34.497 44.848 34.7446C44.9498 34.9922 45.0013 35.2577 44.9994 35.5254C45.0007 35.793 44.949 36.0583 44.8472 36.3059C44.7454 36.5534 44.5955 36.7783 44.4062 36.9676Z"
                            fill="#46879F" />
                    </g>
                    <defs>
                        <clipPath id="clip0_285_1134">
                            <rect width="65" height="65" fill="white" transform="translate(0.328125 0.994141)" />
                        </clipPath>
                    </defs>
                </svg>
                <svg class="swiper-button-prev swiper-navBtn" width="66" height="66" viewBox="0 0 66 66" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_285_1136)">
                        <path class="nav-path"
                            d="M30.7969 61.9316C47.6237 61.9316 61.2656 48.2898 61.2656 31.4629C61.2656 14.636 47.6237 0.994137 30.7969 0.994137C13.97 0.994137 0.328121 14.636 0.328121 31.4629C0.328121 48.2898 13.97 61.9316 30.7969 61.9316ZM21.25 30.0207L34.4247 16.846C34.8078 16.476 35.3209 16.2713 35.8535 16.2759C36.3861 16.2805 36.8955 16.4941 37.2721 16.8708C37.6487 17.2474 37.8624 17.7568 37.867 18.2894C37.8716 18.822 37.6669 19.3351 37.2969 19.7182L25.5522 31.4629L37.2969 43.2076C37.6669 43.5907 37.8716 44.1038 37.867 44.6364C37.8624 45.1689 37.6487 45.6784 37.2721 46.055C36.8955 46.4316 36.3861 46.6453 35.8535 46.6499C35.3209 46.6545 34.8078 46.4498 34.4247 46.0798L21.25 32.9051C21.0603 32.7161 20.9101 32.4913 20.8083 32.2437C20.7064 31.9961 20.655 31.7306 20.6569 31.4629C20.6555 31.1952 20.7073 30.93 20.8091 30.6824C20.9109 30.4349 21.0607 30.21 21.25 30.0207Z"
                            fill="#46879F" />
                    </g>
                    <defs>
                        <clipPath id="clip0_285_1136">
                            <rect width="65" height="65" fill="white"
                                transform="translate(65.3281 65.9941) rotate(180)" />
                        </clipPath>
                    </defs>
                </svg>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <h2>Contact Us</h2>
        <div class="contact-input-container">
            <form action="" onsubmit="contactUsForm(event);">
                {% csrf_token %}
                <div class="alert hide">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <span class="error-text"></span>
                </div>
                <div class="group-inputs">
                    <div class="general-input">
                        <span>Full Name</span>
                        <input type="text" required name="name"/>
                    </div>
                    <div class="general-input">
                        <span>Email</span>
                        <input type="email" required name="email" />
                    </div>
                </div>
                <div class="message">
                    <span>Message</span>
                    <textarea name="message" id="" cols="30" rows="10" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'web/Assets/JS/swiper-bundle.min.js' %}"></script>
<script src="{% static 'web/Assets/JS/home.js' %}"></script>
{% endblock %}
</html>