<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends './layouts/base.html' %}
    {% load static %}

    {% block links %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{% static 'web/Assets/CSS/maps.css' %}">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    {% endblock %}
    <title>{% block title %}VOQDR Devices Locations{% endblock %}</title>
</head>

<body>
    {% block body %}
    <section class="map-responsive">
        <div id="liveAlertPlaceholder" style="position: absolute; top: 0; z-index: 13;"></div>
        <div class="group-dropdown-container">
            <div class="dropdown-line">
                <svg width="82" height="3" viewBox="0 0 82 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="2" y1="1.5" x2="80" y2="1.5" stroke="#004762" stroke-width="3" stroke-linecap="round" />
                </svg>
            </div>
            <!-- <div class="voqdr-options">
                <div class="organisation-container-header">
                    <span class="organisation-header-text"></span>
                    <i class="fa-solid fa-chevron-down organisation-chevron-down"></i>
                    <i class="fa-solid fa-chevron-up organisation-chevron-up"></i>
                </div>
                <div class="hide-organisations">
                    <div class="organisation-container">
                        <div class="organization" onclick="getUserDevices(event, '{{request.user.id}}');">
                            <p>{{request.user.organization}}</p>
                        </div>
                        {% if shared_with_us_organizations %}
                        {% for obj in shared_with_us_organizations %}
                        <div class="organization" onclick="getUserDevices(event, '{{obj.shared_by.id}}');">
                            <p>{{obj.shared_by.organization}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div> -->
            <div class="devices-options">
                <div class="device-container-header">
                    <span class="devices-header-text">Devices</span>
                    <i class="fa-solid fa-chevron-down devices-chevron-down"></i>
                    <i class="fa-solid fa-chevron-up devices-chevron-up"></i>
                </div>
                <div class="hide-devices">
                    <div class="refresh-icon" onclick="refreshDevices(event);">
                        <p class="refresh-text">Refresh All</p>
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                    <form action="" onsubmit="searchDevices(event);">
                        {% csrf_token %}
                        <div class="search-bar">
                            <input type="text" required placeholder="Search devices..." name="device" class="search-input" />
                            <button type="submit"><i class="fa-solid fa-magnifying-glass search-icon" id="search-icon"></i></button>
                        </div>
                    </form>

                    <div class="devices-container" id="devices-container">
                        {% include './ajax/devices.html' %}
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Delete device modal -->
        {% include './modals/delete-device.html' %}

        <!-- Edit device description modal -->
        {% include './modals/edit-device-description.html' %}
        
        <!-- Edit Device Name Modal -->
        {% include './modals/edit-device-name.html' %}

        <div id="maps">
        </div>

    </section>
    {{linked_devices|json_script:"linked_devices"}}
    {{multipleLocations|json_script:"multipleLocations"}}
    {{devices_ids|json_script:"devices_ids"}}
    {{auth_token|json_script:"auth_token"}}
    {% endblock %}
</body>
{% block scripts %}

<script>
    const multipleLocations = JSON.parse(JSON.parse(document.getElementById('multipleLocations').textContent));
    const devices_ids = JSON.parse(JSON.parse(document.getElementById('devices_ids').textContent));
    const token = JSON.parse(JSON.parse(document.getElementById('auth_token').textContent));
    var active_user_devices = parseInt('{{active_org|safe}}');
    //document.querySelector('.organization').classList.add('active');
</script>
<script src="{% static 'web/Assets/JS/maps.js' %}"></script>
{% endblock %}

</html>