.accounts {
    margin-bottom: 10px;
    padding-top: 130px;

}
/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

.accounts h2 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: #004762;
    margin: 10px 0;
    padding: 0 2%;
}
h1,h2,h3,h4,h5,p{
    color: #004762;
}

.accounts p{
    font-size: 1.15rem;
    margin-bottom: 0.6rem;
}
.h4{
    font-size: 1.3rem;
}

.accounts li {
    font-size: 1.15rem;
}

.accounts-container {
    display: flex;
    gap: 15px;
    padding: 0 2%;
    /* min-height: 70vh; */
}

.account-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    background-color: #F8FCFE;
    border-radius: 20px;
    gap: 15px;
    width: 33%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-image {
    position: relative;
    width: 95px;
    height: 95px;
}

.account-image .profile-image {
    width: 100%;
    height: 100%;
    border: 1px solid #004762;
    border-radius: 50%;
}

.image-uploader input {
    display: none;
}

.edit-btn {
    width: 28px;
    height: 28px;
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 1px;
}

.group-inputs {
    display: flex;
    flex-direction: column;
    gap: 3.5%;
    margin-bottom: 30px;
    gap: 15px;
    width: 100%;
}

.input1,
.input2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.input1 span,
.input2 span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #525252;
}

.input1 input,
.input2 input {
    background-color: white;
    border: 1px solid #00000017;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    text-indent: 15px;
}

.input1 input,
.input2 input {
    margin-top: 5px;
}

.input1 input:focus,
.input2 input:focus,
select:focus {
    outline-color: #46879F;
}

.submit-btn {
    background-color: #46879F;
    border: 1px solid transparent;
    padding: 18px 22px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
}

.submit-btn:hover {
    background-color: #3c758a;
}

.payments-btn {
    background-color: white;
    border: 1px solid #46879F;
    padding: 18px 38px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: #46879F;
}


.organisation-info {
    width: 100%;
    background-color: white;
    border: 0.5px solid #46879F;
    border-radius: 10px;
}

.organisation-info>div:first-of-type {
    background: #F8FCFE;
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.organisation-info h2 {
    width: 100%;
    margin-top: 0;
}

.organisation-info>div:first-of-type svg {
    position: absolute;
    bottom: 0;
}

.organisation-content-container {
    padding: 25px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.organisation-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.select-org {
    background-color: #F8FCFE;
    border: 1px solid #00000017;
    border-radius: 10px;
    height: 50px;
    width: max(428px, 31%);
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #525252;
}

.organisation-group-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.org-input {
    max-width: 428px;
}

.org-input span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #004762;
}

.org-input input {
    background-color: #F8FCFE;
    height: 50px;
    width: 100%;
}

.add-user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

.add-user-container h2 {
    padding: 0 0;
    margin-bottom: 0;
    width: fit-content;
}

#add-user-form {
    width: 100%;
    gap: 25px;
}

.user-group-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.user-input {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.user-input span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #004762;
}

.user-input input {
    background-color: #F8FCFE;
}

.select-role {
    font-size: .875rem;
    letter-spacing: 0.2px;
    color: #414040;
    background-color: #F8FCFE;
    border: 1px solid #00000017;
    border-radius: 10px;
    height:50px;
    width: 100%;
}

.add-user-btn {
    padding: 17.5px 42px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    background-color: #46879F;
    border: 1px solid transparent;
    border-radius: 40px;
    align-self: flex-end;
}

.add-user-btn:hover {
    background-color: #3c758a;
}

.organisation-content-container>div:last-of-type {
    background-color: white;
    border: 0.5px solid #46879F;
    border-radius: 10px;
    margin-top: 10px;
}

.user-table {
    width: 100%;
    text-align: center;
}

.user-table thead {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.125rem;
    height: 64px;
    background-color: #F8FCFE;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.user-table thead th:first-of-type {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5%;
    text-align: left;
}

.user-table thead th:last-of-type {
    border-right-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-table td {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #414040;
    height: 50px;
    width: 33%;
    word-wrap: break-word;
    margin-right: 5px;
}

.user-table tr td:first-of-type {
    padding-left: 2%;
    text-align: left;
}

.user-table tr td:last-of-type {
    padding-right: 2%;
    text-align: right;
}

.user-table tr td:nth-of-type(even) {
    padding-left: 14.7%;
    text-align: left;
}

.user-table thead tr th:nth-of-type(even) {
    padding-left: 14.7%;
    text-align: left;
}

.user-table thead tr th:last-of-type {
    padding-right: 2.8%;
    text-align: right;
}

.user-table svg {
    width: 35px;
    height: 35px;
}

.user-table svg:first-child:hover rect {
    fill: #3c758a;
}

.user-table svg:last-child:hover rect {
    fill: #ee3838;
}

.hide {
    display: none;
}

.alert {
  padding: 10px;
  color: white;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.modal-content {
    border-radius: 20px;
}


@media (max-width: 768px) {
    .accounts{
        padding-top: 60px;
    }
    .accounts-container {
        flex-direction: column;
    }

    .account-info {
        width: 100%;
    }

    .select-org {
        width: 100%;
    }

    .add-user-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: center;
        height: fit-content;
        margin-top: 20px;
    }

    #add-user-form {
        width: 100%;
    }

    .add-user-btn {
        margin-top: 10px;
    }

}


@media (max-width: 480px) {
    .organisation-group-inputs {
        flex-direction: column;
    }

    .user-group-inputs {
        flex-direction: column;
        gap: 25px;
    }

    .user-input span {
        width: 50px;
    }

    .user-table thead tr th:first-of-type {
        text-align: left;
        padding: 1%;
    }
        
    .user-table tr td:first-of-type {
        padding-left: 2%;
        text-align: left;
        max-width: 120px;
    }
    
    .user-table tr td:last-of-type {
        padding-right: 1%;
        text-align: right;
    }
    
    .user-table tr td:nth-of-type(even) {
        padding-left: 5%;
        text-align: left;
    }
    
    .user-table thead tr th:nth-of-type(even) {
        padding-left: 5%;
        text-align: left;
    }
    
    .user-table thead tr th:last-of-type {
        padding-right: 0%;
        text-align: center;
    }
    
}