.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.buy-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    aspect-ratio: 1 / .5;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 30px 0;
    z-index: 13;
    background-image: url("../Images/ModalBg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.close-buy-modal-button {
    position: absolute;
    right: 2.3%;
    top: 2.3%;
    pointer-events: all;
    cursor: pointer;
}

.buy-modal-container h2 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.8rem;
    color: #004762;
    margin-bottom: 10px;
}

.buy-modal-content-container {
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 0 7.7%;
}

.product-image {
    width: 185px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

.product-image img {
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-details>div:first-child {
    display: flex;
    justify-content: space-between;
}

.product-details>div:first-child h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.product-quantity-container {
    display: inline-block;
}

.product-quantity-container h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #777777;
}

.product-quantity-container input {
    box-sizing: border-box;
    position: absolute;
    width: 65px;
    height: 40px;
    background-color: #F8FCFE;
    border: 1px solid #00000017;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2rem;
    letter-spacing: 0.2px;
    color: #004762;
    text-align: center;
}

.product-description ul {
    list-style-type: none;
    padding: 0;
    max-width: 180px;
}

.product-description ul li {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #898989;
}

.product-description p {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #777777;
    text-align: right;
}

.product-description p:first-of-type {
    text-align: left;
}

.product-description p span {
    color: #004762;
}

.order-submission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.terms-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.terms-checkbox input {
    border: 1px solid #004762;
    accent-color: #46879F;
}

.terms-checkbox label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #414040;
}

.terms-checkbox label a {
    color: #46879F;
}

.buy-modal-submit-btn {
    background-color: #46879F;
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    width: 20%;
    aspect-ratio: 1 / .31;
}


@media (min-width: 1536px) {
    .buy-modal-container {
        width: 40%;
    }
}


@media (max-width: 1280px) {
    .buy-modal-container h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .buy-modal-container {
        width: 50%;
    }

    .product-details>div:first-child h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .product-image {
        width: 28%;
    }

    .product-description p {
        font-size: 1rem;
    }
}


@media (max-width: 1024px) {
    .buy-modal-container {
        width: 70%;
    }

    .product-description p {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .buy-modal-container {
        width: 85%;
    }
}


@media (max-width: 480px) {
    .buy-modal-container {
        width: 95%;
    }

    .buy-modal-container h2 {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .product-details>div:first-child h3 {
        font-size: .875rem;
        line-height: .8rem;
    }

    .product-description p {
        font-size: .75rem;
        line-height: 1.25rem;
    }

    .product-description ul {
        margin-bottom: 5px;
        max-width: 130px;
    }

    .product-description ul li {
        font-size: .75rem;
        line-height: 1rem;
    }

    .product-quantity-container {
        float: right;
    }

    .product-quantity-container h4 {
        font-size: .75rem;
        margin-bottom: 0;
    }

    .product-quantity-container input {
        width: 45px;
        height: 35px;
        font-size: .75rem;
    }

    .buy-modal-submit-btn {
        font-size: .75rem;
        width: 23%;
    }
}