.buy-modal {
    border-radius: 20px;
}

.buy-modal > svg:first-child {
    position: absolute;
    width: 115px;
    height: 115px;
}

.buy-modal > svg:last-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.buy-modal-body > h3 {
    color: #004762;
    font-weight: 700;
}

.card-body h5 {
    font-weight: 700;
}

.device-description {
    color: #898989;
    font-size: .875rem;
    line-height: 1.125rem;
}

.device-price {
    color:#777777; 
    font-size: 1rem; 
    font-weight: 700;
}

.device-price span {
    color: #004762;
}

.device-counter {
    padding-right: 10px!important;
}

.quantity-container-heading {
    color:#777777;
}

.quantity-btn {
    width: 28px;
    height: 28px;
}

.quantity-btn:hover {
    background-color: #cccccc;
}

.quantity-btn:active {
    background-color: #b1b1b1;
}

#minus-btn:disabled {
    background-color: #dadada;
}

#product-quantity-container {
    flex-direction: row!important;
    gap: 5px;
}

#product-quantity {
    box-sizing: border-box;
    width: 50px;
    height: 28px;
    background-color: #F8FCFE;
    border: 1px solid #00000017;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.2px;
    color: #004762;
    text-align: center;
}

#product-quantity {
    outline-color: #46879F;
}


#terms-checkbox {
    border: 1px solid #004762;
    accent-color: #46879F;
}

.terms-checkbox-label {
    font-size: .875rem;
    line-height: .875rem;
    color: #414040;
}

.terms-checkbox-label a {
    color: #46879F;
}


.buy-modal-submit-btn {
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #46879F;
    min-width: 120px;
    min-height: 40px;
}

.buy-modal-submit-btn:hover {
    background-color: #3c758a;
}

.hide{
    display: none;
}

.alert {
  padding: 8px;
  color: white;
}

.error-text {
    font-size: .875rem;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}


.negate-padding {
    padding: 0!important;
}


@media (max-width: 768px) {
    .product-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .device-description-container {
        flex: 70%;
        width: 70%;
    }

    .device-counter {
        flex: 30%;
        width: 30%;
    }

    #product-quantity-container {
        gap: 5px;
    }

}


@media (max-width: 480px) {
    .device-description-container {
        flex: 60%;
        width: 60%;
        padding-right: 0!important;
    }

    .device-counter {
        flex: 40%;
        width: 40%;
    }

    #product-quantity-container {
        justify-content: center!important;
        gap: 5px;
    }
}


@media (max-width: 340px) {
    .device-description-container {
        flex: 100%;
        width: 100%;
    }

    .device-counter {
        flex: 100%;
        width: 100%;
        padding-right: 0px!important;
        margin: 15px 0px;
    }
    
    #product-quantity-container {
        justify-content: center!important;
    }
}