body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    margin-bottom: 0;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#maps {
    height: 100%;
    width: 100%;
    z-index: 2;
}

.leaflet-top,
.leaflet-right,
.leaflet-left {
    display: none;
}

.group-dropdown-container {
    position: absolute;
    z-index: 11;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    left: .8%;
}

.dropdown-line {
    display: none;
}

.group-dropdown-container i {
    color: #004762;
}

.voqdr-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / .155;
    background-color: #F8FCFE;
    box-shadow: 0px 0px 10px rgba(70, 135, 159, 0.25);
    border-radius: 20px;
    padding: 0.5% 2.5%;
}

i {
    cursor: pointer;
}


.devices-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / .155;
    background-color: #F8FCFE;
    box-shadow: 0px 0px 10px rgba(70, 135, 159, 0.25);
    border-radius: 20px;
    padding: .5% 2.5%;
}

.devices-options>div:first-child,
.voqdr-options>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.devices-options>div:first-child span,
.voqdr-options>div:first-child span {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    color: #525252;
}

.devices-chevron-down,
.organisation-chevron-down {
    display: block !important;
}

.devices-chevron-up,
.organisation-chevron-up {
    display: none !important;
}

.show-chevron {
    display: block !important;
}

.hide-chevron {
    display: none !important;
}

.refresh-icon {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    margin-top: 8px;
    font-size: .875rem;
    line-height: .875rem;
    color: #004762;
    text-align: right;
}

.refresh-icon:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.search-input {
    width: 100%;
    padding-right: 35px;
    padding-left: 8px;
    aspect-ratio: 1 / .12;
    border: 1px solid #46879F;
    border-radius: 10px;
    font-weight: 400;
    font-size: .875rem;
    line-height: .875rem;
    color: black;
    position: relative;
}

.search-input:focus {
    outline-color: #46879F;
}

.search-input::placeholder {
    color: #A4A4A4;
}

.search-bar button {
    position: absolute;
    right: 5px;
    border: 1px solid transparent;
    background-color: transparent;
}

#search-icon {
    transition: all .3s ease-in-out;
}

#search-icon:hover {
    color:#46879F;
}

.device {
    width: 100%;
    background-color: white;
    padding: 1% 1%;
    margin-bottom: 5px;
    min-height: 50px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-container-header,
.organisation-container-header {
    min-height: 50px;
    cursor: pointer;
}

.device-container-header:hover .devices-header-text,
.organisation-container-header:hover .organisation-header-text {
    text-decoration: underline;
}

.hide-devices,
.hide-organisations {
    display: none;
    width: 100%;
}

.show-devices,
.show-organisations {
    display: block;
    width: 100%;
    padding: 5px
}

.devices-container {
    width: 100%;
    height: 160px;
    padding-right: 1%;
    overflow-y: scroll;
}

.organisation-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 0;
}

.organization {
    display: flex;
    align-items: center;
    min-height: 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
}

.organization:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}
.organization.active {
    cursor: pointer;
    background-color:rgb(191, 191, 191);
}

.organisation-container p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #525252;
    margin-bottom: 0;
    padding: 0 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.device-header {
    min-height: 50px;
    cursor: pointer;
}

.device-header:hover .device-heading h3 {
    text-decoration: underline;
}

.device-heading {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 0;
}

.battery-indicator {
    display: inline-block;
    position: relative;
    pointer-events: all;
    margin-left: 7px;
}

.battery-tooltip {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: -21px;
    left: -11px;
}

.battery-indicator:hover .battery-tooltip {
    display: block;
}

.bad-battery {
    left: -10px;
}

.device>div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.device>div:first-of-type h3 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #525252;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100%);
    text-overflow: ellipsis;
    min-width: 0;
    margin-bottom: 0;
    margin-top: 1px;
}

.show-single-device {
    display: block;
}

.hide-single-device {
    display: none;
}

.single-device-chevron-down {
    display: block !important;
}

.single-device-chevron-up {
    display: none !important;
}

.show-single-device-chevron {
    display: block !important;
}

.hide-single-device-chevron {
    display: none !important;
}

.device-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.device-text span {
    max-width: 90%;
    font-weight: 700;
    font-size: .7rem;
    line-height: 1.125rem;
    color: #565656;
}

.device-feature-container {
    margin-top: 15px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 6px rgba(0, 71, 98, 0.1);
    border-radius: 10px;
}

.device-features {
    width: 70%;
    padding: 4px 0px;
}

.device-features svg {
    width: 20%;
}

.device-additional-features {
    margin-top: 5px;
    width: 100%;
    display: none;
    justify-content: flex-end;
}

.show-additional-options {
    display: flex;
}

.device-additional-features div {
    max-width: 130px;
    margin-right: 2%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    background-color: #F8FCFE;
    border: 1px solid transparent;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 6px rgba(0, 71, 98, 0.1));
}

.device-feature-container svg,
.device-additional-features svg {
    pointer-events: all;
}

.device-features svg:hover rect {
    fill: #004762;
}

.device-additional-features svg:hover rect {
    fill: #004762;
}

.device-additional-features div svg {
    width: 48%;
}


.hidden {
    display: none;
}


.device-content {
    display: none;
}

.location-alert {
    padding-right: 3rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    color: unset!important;
}

.hide{
    display: none;
}

.show {
    display: block;
}

.alert {
  padding: 8px;
  color: white;
}

.error-text {
    font-size: .875rem;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}



@media (min-width: 1536px) {
    .group-dropdown-container {
        width: 450px;
    }
}


@media (max-width: 1280px) {
    .group-dropdown-container {
        width: 350px;
    }
}


@media (min-height: 1024px) {
    .devices-container {
        height: fit-content;
        overflow: hidden;
    }
}


@media (max-width: 1024px) {
    .group-dropdown-container {
        width: 300px;
    }

    .search-bar button {
        bottom: 2px;
    }
}


@media (max-width: 768px) {
    .group-dropdown-container {
        top: unset;
        bottom: 0;
        left: 0;
        height: fit-content;
        max-height: calc(100vh - 100px);
        padding: 1%;
        gap: 8px;
        background-color: white;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .dropdown-line {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
    }

    .voqdr-options,
    .devices-options {
        background-color: #F8FCFE;
        border-radius: 10px;
        box-shadow: none;
        width: 100%;
    }

    .search-input {
        aspect-ratio: unset;
        height: 40px;
    }

    .search-bar button {
        bottom: unset;
    }

}