nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / .05;
    min-height: 55px;
    text-align: center;
    margin-bottom: 65px;
    background-color: #F8FCFE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 0 2%;
}

.hamburger {
    display: none;
    z-index: 100;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.closeIcon {
    display: none;
}

.showMenu {
    display: none;
}

nav>a:first-of-type {
    width: 8%;
    aspect-ratio: 1 / .3;
}

.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 14%;
    aspect-ratio: 1 / .15;
    min-width: 183px;
    gap: 25px;
    min-height: 50px;
    padding: .25% 0;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #004762;
    cursor: pointer;
}

a.nav-items.active{
    text-decoration: underline;
}

.nav-profile-image {
    position: relative;
    max-width: 80px;
    width: 50px;
    min-width: 0;
    height: 50px;
    min-height: 0;
}

.nav-profile-image img {
    width: 100%;
    height: 100%;
    border: 1px solid #004762;
    border-radius: 50%;
}

.account-menu {
    display: none;
    position: absolute;
    width: 125px;
    padding: 5px 10px;
    flex-direction: column;
    text-align: left;
    background-color: #F8FCFE;
    border: 1px solid rgba(205, 205, 205, 0.5);
    border-radius: 8px;
    right: 0;
    bottom: -100px;
    z-index: 11;
}

.account-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #004762;
    padding: 15px 0;
}

.account-menu a:hover {
    text-decoration: underline;
}

.nav-profile-image:hover .account-menu {
    display: flex;
}

.sign-in-btn {
    float: right;
    background-color: #46879F;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 5px 21px;
}

.sign-in-btn a {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.188rem;
    color: white;
    text-decoration: none;
}

.nav-links button a {
    color: white;
}


@media (min-width: 1920px) {
    nav > a:first-of-type {
        display: flex;
    }

    .nav-content {
        gap: 40px;
    }
    .nav-profile-image {
        width: 70px;
        height: 70px;
    }

    .nav-links a,
    .sign-in-btn a {
        font-size: 1.7rem;
    }

    .nav-links {
        gap: 40px;
    }
}


@media (min-width: 1536px) and (max-width: 1920px) {
    nav > a:first-of-type {
        display: flex;
    }

    .nav-profile-image {
        max-width: 100px;
        width: 65px;
        height: 65px;
    }

    .nav-links a,
    .sign-in-btn a {
        font-size: 1.5rem;
    }
}


@media (max-width: 1280px) {
    .nav-links {
        min-width: 200px;
    }

    .sign-in-btn {
        padding: 5px 21px;
    }
}


@media (max-width: 1024px) {
    
    .nav-profile-image {
        width: 45px;
        height: 45px;
    }

    .sign-in-btn {
        padding: 5px 21px;
    }
}


@media (max-width: 768px) {
    nav {
        padding: 0 2% 0 0;
        position: relative;
        margin-bottom: 25px;
    }

    nav>a:first-of-type {
        order: 2;
        width: 84px;
        min-height: fit-content;
    }

    .nav-content {
        order: 3;
    }

    .nav-profile-image {
        width: 40px;
        height: 40px;
    }

    .sign-in-btn {
        padding: 5px 21px;
    }

    .sign-in-btn a {
        font-size: 1rem;
        line-height: 1rem;
    }

    .hamburger {
        display: block;
        height: 55px;
        width: 55px;
        background-color: transparent;
        color: #004762;
        border: 1px solid transparent;
        order: 1;
    }

    .hamburger-enabled {
        color: #46879F;
        background-color: black;
        border: 1px solid transparent;
    }

    .nav-links {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 99;
        margin-top: 55px;
    }

    .nav-links a {
        color: white;
        border-bottom: 1px solid #004762;
        background-color: #46879F;
        height: 50px;
    }

    .nav-links button {
        width: 100%;
        height: 50px;
        border-radius: 0;
    }

    .showMenu {
        display: block;
        margin-top: 53px;
    }

    .logo {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .nav-profile-image {
        width: 36px;
        height: 36px;
    }

    .sign-in-btn a {
        font-size: .875rem;
        line-height: .875rem;
    }
}