@font-face {
    font-family: 'Gotham';
    src: url("./Gotham-Font/Gotham-Bold.otf") format('opentruetype'),
        url("./Gotham-Font/Gotham-Bold.eot") format('embedded-opentype'),
        url("./Gotham-Font/Gotham-Bold.woff") format('woff'),
        url("./Gotham-Font/Gotham-Bold.woff2") format('woff2');
        /* url("./Gotham-Font/GothamBold.ttf") format('truetype'); */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("./Gotham-Font/Gotham-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("./Gotham-Font/Gotham-Book.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("./Gotham-Font/Gotham-Light.otf");
    font-weight: 300;
    font-style: normal;
}


.relative{
    position: relative;
}

.hide{
    display: none!important;
}
.show{
    display: block;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-not-allowed{
    cursor: not-allowed;
}

body.modal-open {
    overscroll-behavior: contain;
}

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: min(max(14px, calc(100vw * 0.023)), 16px);
    overflow-x: hidden;
}

body {
    background-color: white;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }
}