.terms_policies {
    padding-left: 10px;
    padding-right: 10px;
}


/* @media (min-width: 1801px) {
    .terms_policies {
        padding-top: 4.5rem!important;
    }
}


@media (min-width: 1536px) and (max-width: 1800px) {
    .terms_policies {
        padding-top: 3.6rem!important;
    }
}


@media (max-width: 1280px) {
    .terms_policies {
        padding-top: 2rem!important;
    }
}


@media (max-width: 1024px) {
    .terms_policies {
        padding-top: 1.5rem!important;
    }
} */