html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a,
button {
    cursor: pointer;
}

.verify-code-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-circle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.verify-code-page-content {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
}

.verify-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    width: 23%;
}

.verify-code-container h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.8rem;
    color: #004762;
    margin: 0;
}

#verify-code-form {
    width: 100%;
}

.verify-code-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.email-input span {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2rem;
    color: #004762;
}

.email-input input {
    background-color: #F8FCFE;
    border: 1px solid #00000017;
    border-radius: 10px;
    height: 45px;
    margin-top: 4px;
    text-indent: 10px;
}

.email-input input:focus {
    outline-color: #004762;
}

.email-input a {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1rem;
    text-decoration: underline;
    color: #004762;
    text-align: right;
    margin-top: 8px;
}

.verify-code-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify-code-button {
    background-color: #46879F;
    border: 1px solid transparent;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 12px 45px;
    margin-bottom: 5px;
}

.verify-code-button-container span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #606060;
}

.verify-code-button-container span a {
    color: #004762;
    text-decoration: none;
}

.verify-code-image {
    width: 36%;
}

.verify-code-image svg {
    width: 100%;
}


@media (max-width: 1920px) {
    .verify-code-container {
        min-width: 467px;
    }

    .top-circle {
        width: 200px;
        height: 180px;
    }

    .bottom-circle {
        width: 150px;
        height: 180px;
    }

    .verify-code-container h1 {
        font-weight: 700;
        font-size: 3rem;
    }
}


@media (max-width: 1536px) {
    .verify-code-page-content {
        gap: 8%;
    }
}


@media (max-width: 1280px) {
    .verify-code-page-content {
        gap: 6%;
    }

    .top-circle {
        width: 160px;
        height: 150px;
    }

    .bottom-circle {
        width: 150px;
        height: 180px;
    }

    .verify-code-container h1 {
        font-size: 2.8rem;
        line-height: 3rem;
    }
    
    .email-input span {
        font-size: 1rem;
        line-height: 1rem;
    }

    .email-input a {
        font-size: .875rem;
        line-height: .875rem;
    }

    .verify-code-button {
        font-size: 1.3rem;
        padding: 10px 35px;
    }

    .verify-code-button-container span {
        font-size: .875rem;
        line-height: .875rem;
    }
}

@media (max-width: 1024px) {
    .top-circle {
        width: 160px;
        height: 140px;
    }

    .bottom-circle {
        width: 120px;
        height: 130px;
    }

    .verify-code-page-content {
        gap: 6%;
    }

    .verify-code-container {
        justify-content: center;
        gap: 50px;
        min-width: 350px;
    }

    .verify-code-container h1 {
        font-size: 2rem;
        line-height: 1.8rem;
    }
    
    .email-input span {
        font-size: .875rem;
        line-height: .75rem;
    }
    
    .email-input input {
        height: 40px;
        margin-top: 3px;
    }

    .email-input a {
        font-size: .75rem;
        line-height: .75rem;
    }

    .verify-code-button {
        font-size: .875rem;
        padding: 5px 35px;
    }

    .verify-code-button-container span {
        font-size: .75rem;
        line-height: .75rem;
    }
}


@media (max-width: 768px) {
    .verify-code-container {
        width: 95%;
        min-width: unset;
    }

    .email-input a {
        font-size: .875rem;
        line-height: .875rem;
    }

    .verify-code-image {
        display: none;
    }
    
    .verify-code-container h1 {
        font-size: 2.8rem;
        line-height: 3rem;
    }
    
    .email-input span {
        font-size: 1rem;
        line-height: 1rem;
    }

    .verify-code-button {
        font-size: 1.3rem;
        padding: 10px 35px;
    }

    .verify-code-button-container span {
        font-size: .875rem;
        line-height: .875rem;
    }
}


@media (max-width: 480px) {
    .top-circle {
        width: 100px;
        height: 95px;
    }

    .bottom-circle {
        width: 80px;
        height: 90px;
    }

    .verify-code-container h1 {
        text-align: center;
    }
}

.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}